@font-face {
    font-family: "Old-Newspaper-Type";
    src: url("fonts/OldNewspaperTypes.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Old-Newspaper-Type";
  background-color: rgb(0,0,0);
  margin: 0;
}

nav {
  justify-self: center; 
}

.rooms {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 90vw;
  justify-self: center;
  align-content: center;
  justify-content: space-between;
/*   background: red;  */
}

.rooms-text-container {
  position: relative;
  float: left;
  width: 53%;
  height: 90vw;
  justify-self: center;
  align-content: center;
/*   background: red;  */
}

.rooms-img-container {
  position: absolute;
  right: 0;
  width: 45%;
  height: 90vw;
  align-content: center;
/*   background: blue;  */
}

h1 {
  font-size: min(10vw, 48pt);
  color: rgb(208, 223, 232);
}

h2 {
  font-size: min(6vw, 36pt);
  color: rgb(208, 223, 232);
}

p {
  font-size: min(3vw, 18pt);
  color: rgb(208, 223, 232);
}

p.gray {
  font-size: min(3vw, 18pt);
  color: rgb(115, 115, 115);
  text-align: center;
}

.title-container {
  position: relative;
  height: 80vw;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  margin: 0;
  padding: 10vw;
  justify-content: center;
  align-content: center;
}

.home-items-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 70vw;
  width: 100%;
  padding: 5vw;
  justify-self: center;
  justify-content: space-around;
  align-content: center;
/*   background: red; */
}

.home-items {
  position: relative;
  height: 55vw;
  width: 40vw;
  margin: 0;
  padding: 2vw;
  justify-content: center;
  align-content: center;
/*   background: blue; */
}

.items {
  position: relative;
  justify-self: center;
  align-items: center;
/*   background: black; */
  height: 35vw;
  width: 35vw;
  user-select: none;
  cursor: pointer;
}

.items-text {
  position: absolute;
/*   background: red; */
  height: 60vw;
  width: 50%;
  max-height: 600px;
  float: left;
  align-self: center;
  overflow: scroll;
}


.items-img {
    position: absolute;
/*   background: red; */
  height: 30vw;
  width: 30vw;
  max-height: 300px;
  max-width: 300px;
  right: min(6vw, 60px);
  align-self: center;
}


#modal {
  justify-self: center;
  align-self: center;
  align-content: center;
  justify-content: center;
    padding: min(6vw, 60px);
    border: 10px solid white;
/*     margin: 50px; */
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    background: black;
    
  bottom: 5%;
  top: 5%;
    position: fixed;
    height: 80vw;
    width: 90vw;
    max-width: 1000px;
    max-height: 650px;

    
    display: none;
  }

#close {
  top: min(5vw, 40px);
  left: min(5vw, 40px);
  position: absolute;
    user-select: none;
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    max-width: 60px;
    max-height: 30px;
/*     background: white; */
  z-index: 2;
  }

.button {
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  user-select: none;
  width: 20vw;
  height: 7vw;
  max-width: 200px;
  max-height: 70px;
  background: white;
  bottom: min(6vw, 60px);
  display: none;
  box-shadow: 4px 4px 3px rgba(208, 223, 232, 0.50);;
  text-decoration: none;
}

.back {
  position: fixed;
  top: min(6vw, 50px);
  left: min(6vw, 50px);
  max-width: 60px;
  max-height: 30px;
  user-select: none;
  cursor: pointer;
    width: 8vw;
    height: 5vw;
/*     background: white; */
  z-index: 3;
}

.castle {
    position: relative;
    display: flex;
  justify-self: center;
    justify-content: center;
    align-items: center;
/*   background: red; */
  }

.room-doors {
  user-select: none;
  cursor: pointer;
    width: 20vw;
    height: 26.6vw;
    background: white;  
  
  max-width: 150px;
  max-height: 199.5px;
  transform: translateY(50px);
  margin: 40px;
}

.lower {
  transform: scale(1.2) translateY(min(25vw, 150px));
  max-width: 160px;
  max-height: 212.8px;
}

.higher {
  transform: translateY(-20px);
  background: rgba(255,255,255, 0.1)
}