@font-face {
    font-family: "Old-Newspaper-Type";
    src: url("fonts/OldNewspaperTypes.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Old-Newspaper-Type";
  background-color: rgb(208, 223, 232);
  margin: 0;
}

h1 {
  font-size: 10vw;
  color: rgb(208, 223, 232);
}

h2 {
  font-size: 6vw;
  color: rgb(208, 223, 232);
}

p {
  font-size: 3vw;
  color: rgb(208, 223, 232);
}

p.gray {
  color: rgb(115, 115, 115);
  text-align: center;
}

.title-container {
  position: relative;
  height: 80vw;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  margin: 0;
  padding: 10vw;
  justify-content: center;
  align-content: center;
}

.home-items-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 70vw;
  width: 100%;
  padding: 5vw;
  justify-self: center;
  justify-content: space-around;
  align-content: center;
/*   background: red; */
}

.home-items {
  position: relative;
  height: 55vw;
  width: 40vw;
  margin: 0;
  padding: 2vw;
  justify-content: center;
  align-content: center;
/*   background: blue; */
}

.items {
  position: relative;
  justify-self: center;
  background: black;
  height: 35vw;
  width: 35vw;
  user-select: none;
  cursor: pointer;
}


#modal {
  justify-self: center;
    padding: 10vw;
    border: 10px solid white;
    margin: 50px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    background: black;
    
    position: fixed;
    top: 100px;
    height: 90vw;
    width: 90vw;
    
    display: none;
  }

#close {
    float: left;
    user-select: none;
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    background: white;
  }

#button {
  justify-self: center;
  cursor: pointer;
  user-select: none;
  width: 15vw;
  height: 10vw;
  background: white;
}

#back {
  float: left;
  user-select: none;
  cursor: pointer;
}